@import url('https://fonts.googleapis.com/css?family=Cantarell|Raleway&display=swap');


:root {
    --black: #333;
    --blue: #7186FF;
    --red: #C1272D;
    --shaded-red: rgb(223, 149, 149);
    --green: #00751F;
    --white: #FFF;

    height: 100vh;
    box-sizing: border-box;
}
*, *:before, *:after{
    box-sizing: inherit;
}

body {
    font-size: 1rem;
    font-family: Raleway, Verdana, san-serif;
    min-height: 100%;
    background-image: url(../images/coding.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
img {
    max-width: 100%;
    height: auto;;
}
#mainHeader{
    display: grid;
    grid-template-columns: 80px 1fr;
    align-items: start;
    background-color: #054D6A;
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
}
#mainNav{
    position: absolute;
    background-color: #054D6A;
    width: 100%;
    top: 40px;
    padding-bottom: 10px;
    display: none;
}
#mainNav ul{
    list-style: none;
    padding: 0;
    margin: 20;
    display: flex;
    flex-flow: column nowrap;
    margin-left: 90px;
}
#mainNav a{
    color: var(--white);
    text-decoration: none;
    font-family: Cantarell, Arial, sans-serif;
    font-size: 1.5em;
    display: block;
    margin: 10px;
}
#mainNav a:hover{
    color: var(--shaded-red);

}
#menuToggle{
    background-color: transparent;
    border: none;
    background-size: cover;
    width: 40px;
    height: 40px;;
    align-self: start;
    margin-left: auto;

}
#menuToggle.toggleMenu{
    background-image: url(../images/icons/toggleMenu.png);
    width: 80px;
    height: 80px;
}

#logo{
    display: flex;
	justify-content: space-between;
	margin-left: 20px;
    margin-top: 10px;
    align-items: center;
	color: white;
}
#logo img{
	height: 60px;
    margin-right: 20px;
    background-color: white;
    padding: 10px;
    position: relative;
}
#mainSection {
    padding: 100px 20px;
    min-height: 100vh;
}
#mainSection.home{
    justify-content: center;
    align-items: center;
}
#devInfo{
    background-color: #ffffff;
    padding: 20px;
    color: var(--black);
    display: block;
    margin: 5px;
    justify-content: center;
}
#devInfo > div{
    margin: 20px;

}
#devInfo div div:last-child{
    margin-right: 0;

}
#devInfo div div img{
    width: auto;
    height: auto;
}
#devInfo h1{
    font-family: Cantarell, Arial, sans-serif;
    font-size: 1.2em;
    margin: 10px 0;
}
#devInfo p{
    margin: 10px 0;
    font-size: .8em;
}
#mainProfile{
    background-color: #ffffff;
    padding: 20px;
    color: var(--black);
    display: block;
    margin: 5px;
    justify-content: center;
}
#mainProfile > div{
    margin: 5px;
}
main{
    background-color: #656868;
    padding: 20px;
    color: var(--white);
}
#mainProfile > div > div > p > ul{
    display: block;
    margin: 5px;
}
#mainProfile > div > img{
    border-radius: 50%;
    border: #054D6A;
}

main{
    background-color: #656868;
    padding: 20px;
    color: var(--white);
}
main form{
    display: block;
    border-top: solid 2px var(--white);
    justify-content: center;
    align-items: center;
}
main form > div > div {
    display: flex;
    flex-flow: column nowrap;
    margin: 20px 0;
}
main form > div:last-child > div:first-child{
    margin: 0 0 20px 0;
}
main form label{
    margin-bottom: 5px;
    font-size: 1.1em;
    display: flex;
    justify-content: space-between;
}
main form textarea {
    height: 150px;
    resize: none;
}
main form button{
    padding: 10px;
    background-color: #054D6A;
    color: var(--white);
    border-radius: 5px;
    margin-top: 30px;
    font-weight: bolder;
    width: 200px;
}
main form button:hover{
    background-color: #0BCEBD;
}
main form button:active{
    background-color: #054D6A;
}
main form .msg{
    font-size: 0.8em;
    color: rgb(88, 1, 1);
    margin-left: 20px;
}
main form input, main form textarea{
    padding: 5px;
    border-radius: 5px;
    border: .5px solid rgb(7, 224, 152);
}
main form input:valid, main form textarea:valid {
    border: 1px solid var(--green);
}
main form input.invalid, main form textarea.invalid {
    border: 1px solid var(--red);
}
main ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: grid;
    align-items: start;
    grid-auto-flow: row;
    grid-gap: 20px
}
main ul li{
    background-color: var(--white);
    padding: 10px;
}
main ul li:hover{
    background-color: var(--shaded-red);
}
main ul li a{
    color: var(--black);
    text-decoration: none;
}
#mainFooter{
    background-color: #054D6A;
    height: 80px;
    width: 100%;
    position: fixed;
    bottom: 0;
    color: var(--white);
    font-size: .5em;
    display: flex;
    align-items: center;
    justify-content: center;
}
#mainFooter p{
    font-size: 15px;
}

@media screen and (min-width: 768px){
    #menuToggle{
        display: none;
        margin-top: 80px;
    }
    #mainNav{
        position: static;
        background: transparent;
        display: flex;
        padding: 0;
        justify-content: flex-end;
    }
    #mainNav ul{
        flex-flow: row nowrap;
        margin-left: 0px;
    }
    #mainNav a{
        font-size: 1.2em;
    }   
    
    main ul{
        grid-template-columns: repeat(2, 1fr);
    }
    
    #devInfo{
        grid-template-columns: repeat(1, 1fr);
        display: block;
        justify-content: space-between;
    }
}
@media screen and (min-width: 1024px){
    main form{
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
    }
    main form button{
        padding: 10px;
        background-color: #054D6A;
        color: var(--white);
        border: none;
        grid-column: 1 / -1
    }
    main ul{
        grid-template-columns: repeat(3, 1fr);
    }
    
    #mainProfile{
        grid-template-columns: repeat(4, 1fr);
        display: flex;
        justify-content: center;
    }
    #devInfo{
        grid-template-columns: repeat(4, 1fr);
        display: flex;
        justify-content: center;;
    }
}
@media screen and (min-width: 1280px){
    main ul{
        grid-template-columns: repeat(4, 1fr);
    }
}
@media screen and (min-width: 1600px){
    main ul{
        grid-template-columns: repeat(5, 1fr);
    }
}